[submodule "scripts"]
	path = scripts
	url = https://github.com/BeingGod/GlobalCacheScripts.git
[submodule "backend"]
	path = backend
	url = https://github.com/Faker0715/GlobalCacheWebServer.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/201712203501015/GlobalCacheVisual.git
